/*? -------------------- Table Container --------------------*/
.Table_Container {
    display: flex;
    flex-direction: column;
    padding: 2rem 2.5rem;
    background-color: inherit;
    margin-top: var(--spacing-lg);
}

/*? -------------------- Welcome text--------------------*/
.Table_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: var(--spacing-lg);
}

.Table_title h2 {
    font-size: var(--font-size-3xl);
    font-weight: 600;
    color: var(--color-dark);
    margin: 0 0 var(--spacing-xs) 0;
}

/*? -------------------- Table Content --------------------*/
.Table_Content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-lg);
    background-color: var(--color-white);
    border-radius: var(--border-radius-lg);
    border: 1px solid var(--color-gray-light);
}
.Table_Content table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: var(--spacing-md);
}

.Table_Content thead {
    background-color: var(--color-primary-lighter);
}

.Table_Content th{
    padding: var(--spacing-md);
    text-align: center;
    font-size: var(--font-size-3xl);
    color: var(--color-primary);
    font-weight: 500;
    background-color: var(--color-primary-lighter);
}

.Table_Content th:first-child {
    border-top-left-radius: var(--border-radius-md);
    border-bottom-left-radius: var(--border-radius-md);
    border-left: 1px solid var(--color-primary);
    border-top: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
}
.Table_Content th:last-child {
    border-top-right-radius: var(--border-radius-md);
    border-bottom-right-radius: var(--border-radius-md);
    border-right: 1px solid var(--color-primary);
    border-top: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
}
.Table_Content th:not(:first-child):not(:last-child) {
    border-top: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
}

.Table_Content th:first-child {
    border-top-left-radius: var(--border-radius-md);
}

.Table_Content th:last-child {
    border-top-right-radius: var(--border-radius-md);
}

.Table_Content tr {
    padding: var(--spacing-md);
    text-align: center;
    font-size: var(--font-size-3xl);
    color: var(--color-dark);
    font-weight: 400;
}
.Table_Content td {
    padding: var(--spacing-lg);
}

/*? -------------------- Acction Btns --------------------*/

.ActionBtns {
    display: flex;
    gap: 0.5rem; /* o el espacio que prefieras */
    align-items: center;
    justify-content: center;
}

.SeeBtn,
.EditBtn,
.DeleteBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.SeeBtn {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: var(--spacing-sm) var(--spacing-md);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    font-size: var(--font-size-sm);
    transition: background-color 0.5s, color 0.5s, border 0.5s;
    width: 40px;
    height: 40px;
    margin-right: var(--spacing-sm);
}

.SeeBtn:hover {
    background-color: var(--color-primary-lighter);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.EditBtn {
    background-color: var(--color-white);
    color: var(--color-dark);
    padding: var(--spacing-sm) var(--spacing-md);
    border: 2px solid var(--color-primary);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    font-size: var(--font-size-sm);
    transition: background-color 0.5s, color 0.5s, border 0.5s;
    margin-right: var(--spacing-sm);
    width: 40px;
    height: 40px;
}

.EditBtn:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
}

.DeleteBtn {
    background-color: var(--color-error);
    color: var(--color-white);
    padding: var(--spacing-sm) var(--spacing-md);
    border: 2px solid var(--color-error);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    font-size: var(--font-size-sm);
    transition: background-color 0.5s, color 0.5s, border 0.5s;
    width: 40px;
    height: 40px;
}
.DeleteBtn:hover {
    background-color: var(--color-error-light);
    color: var(--color-error);
    border-color: var(--color-error);
}